// Переменные для SASS
$color-white: #ffffff
$color-light-green: #3DB95E
$color-dark-green: #33984E
$color-light-grey: #CFCFCF
$color-dark-grey: #ACACAC
$color-table-border: #D9D9D9
$color-text: #1E1E1E
$color-orange: #FFAC52

$content-max-width: 50rem
$footer-height: 5rem
$mobile-breakpoint: 768px